@import url(http://fonts.googleapis.com/css?family=Nunito:400,700);

body {
	min-width:453px;
	max-width:800px;
	margin:0 auto;
	font-family:'Nunito', Arial, Verdana, sans-serif;
}

.left {
	float:left;
}

.right {
	float:right;
}

a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#777;
}

p {
	font-size:14px;
}

hr {
	width:400px;
	border:1px solid #ddd;
	margin-bottom:30px;
}

input {
	border: 1px solid #ccc;
	-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
  	padding:2px 8px;
}

select {
	border: 1px solid #ccc;
	-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
  	padding:2px 8px;
}

textarea {
	border: 1px solid #ccc;
	-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
  	padding:2px 8px;
}

#header {
	height:80px;
	padding-top:40px;
}

#top_nav {
	margin:0 auto;
}

#top_nav h1 {
	text-align:center;
	color:#333;
}

#top_nav h1 a {
	font-size: 36px;
	color:#333;
}

#top_nav ul {
	list-style:none;
}

#top_nav li {
	float:left;
	padding:0 10px;
	margin: 0 2px;
	
	border:1px solid #ccc;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjI2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.26) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.26)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.26) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

#top_nav li:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMTUiLz4KICAgIDxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.15) 1%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(1%,rgba(0,0,0,0.15)), color-stop(52%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.15) 1%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#26000000',GradientType=0 ); /* IE6-8 */
	
	border:1px solid #aaa;
}

#top_nav h3 {
	margin:8px 0;
	font-size:14px;
}

#search_bar {
	margin-right:20px;
	float:right;
}

#content {
	clear: both;
	margin-top:40px;
	border: 1px solid #ccc;
	-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
	
	background: rgb(232,232,232); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
}

#breadcrumb_nav {
	border-bottom:1px solid #ccc;
}


#breadcrumb_nav ul {
	padding-left:50px;
	margin: 4px 0px;
	list-style:none;
}

#breadcrumb_nav ul li {
	display:inline;
	color:#555;
	text-shadow: 1px 1px white, -1px -1px #ddd;
}

#module {
	margin:10px 50px;
	padding:10px 25px 25px 25px;
	background-color: #fff;
	
	-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	
  	-moz-box-shadow:    0px 1px 2px 0px #bbb;
	-webkit-box-shadow: 0px 1px 2px 0px #bbb;
	box-shadow:         0px 1px 2px 0px #bbb;
}

#action_bar {
	margin-top:10px;
	padding-bottom:10px;
	border-bottom:2px solid #ddd;
}

#action_bar a.left {
	margin-right:10px;
}

#action_bar a.right {
	margin-left:10px;
}

#action_bar a, #action_bar button {
	border:1px solid #999;
	color:#444;
	font-weight:bold;
	padding:2px 4px;
	background-color: #ddd;
	
	-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	border-radius: 6px;
}

#action_bar a:hover, #action_bar button:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(214,214,214,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(214,214,214,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(214,214,214,0.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(214,214,214,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#33d6d6d6',GradientType=0 ); /* IE6-8 */
}

table {
	border:1px solid #ddd;
	border-spacing:2px;
	border-style:outset;
	font-size:14px;
}

td {
	border:1px solid #ddd;
	padding:5px 8px;
}

.tableHead {
	font-weight:bold;
}

form p {
	margin:10px 0;
}

.abortButton {
	float:right;
}

.destructiveButton {
	background-color: #D45E61!important;
}

#footer {
	margin-top:20px;
	font-size:13px;
	text-align:center;
}

.require { color:red; }

.logo {
	width:200px;
}

/* lauch screen */
#launch_menu{width:300px;margin:20px auto;color:#105CB6;}
.tile a {
	background-color:#ccc;
	text-align:center;
	margin:15px 0;
	padding:15px;
	border:2px solid #aaa;
	-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
	font-size:22px;
	
	display: block;

	-moz-transition: color 0.1s, background-color 0.1s, -moz-transform 0.1s;
    -webkit-transition: color 0.1s, background-color 0.1s, -webkit-transform 0.1s;
    -o-transition: color 0.1s, background-color 0.1s, -o-transform 0.1s;
    transition: color 0.1s, background-color 0.1s, transform 0.1s;
}
.tile a:hover {
	transform: scale(1.0);
	background-color: #999;
	color:#eee;
	border:2px solid #eee;
	
	-moz-box-shadow:    3px 3px 3px 1px #ccc;
	-webkit-box-shadow: 3px 3px 3px 1px #ccc;
	box-shadow:         3px 3px 3px 1px #ccc;
	
	text-shadow:  2px 2px #777;
}

.cancelButton {
	margin:20px auto 0 auto;
	width: 95px;
}

/* module Rooms */
.rooms {list-style:none;}
.rooms li {width:118px; display:inline-block;}

/* module Device */
.components {list-style:none;}
.components li {padding:10px;}
.support_event {list-style:none;}
.support_event li {padding:5px;}

/* module Create Device */
.deviceButton {float:left;margin:0px 20px;text-align:center;width:89px;height:140px;}
.deviceButton input {height:64; width:64;border:0;}

/* module Create Device */
#order_selction {width:100%;margin:60px 0;text-align:center;}
.largeButton {margin:0 30px;padding:40px 30px;background-color: #bbb;text-align:center;display:inline-block;}
.largeButton input {font-size:20px;background-color: #bbb;border:none;width:120px;height:80px;}

/* module Orders */
/* module Rooms */
.orders {list-style:none}
.orders li {padding:5px;}


/*stepprogressbar 
/* autor Philipp Schmidkunz
 */
.activeStep { 
font-weight: bold;
font-style: italic; 
float: left;
width: 6em;
min-height: 3em;
margin: 0px 0.6em;
padding-left: 2.2em;
color: rgb(153, 153, 153);
list-style-type: none; 
font-size: 10px ;
}
.inactiveStep { 
font-style: italic;
float: left;
width: 6em;
min-height: 3em;
margin: 0px 0.6em;
padding-left: 2.2em;
color: rgb(153, 153, 153);
list-style-type: none;
font-size: 10px ;
}
.stepImage {width: 20px;margin: 10%}
.stepTitle {float: right;}
.oneActive{background-image:url('img/stepprogress/Number_green_1.png'); }
